@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", system-ui, sans-serif;
  }
}

.scroll-container::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-track {
  background: #777777;
  border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #FFCC21;
  border-radius: 10px;
}

.scroll-container {
  scrollbar-width: thin;
  scrollbar-color: #FFCC21 #777777;
  border-radius: 10px;
}

.multi-line-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}